@charset "urf-8";



.menu_title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #058ece;
    margin-top: 30px;

}

.menu_title .no{    
    display: inline-block;
    font-weight: 900;
    font-size: 10px;    
    border-bottom: 10px solid #ffd200;
    box-sizing: border-box;
    height: 48px;
    width: 80px;
    

}


.menu_title img{
    vertical-align: -14px;
}





#contents_00 {

    width: 1400px;
    height: 300px;
    margin: 0 auto;
    margin-top: 80px;
}


#contents_00 > h2 {
    color: #333333;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;

}

#contents_00 > h2 > i {

font-size: 40px;
}

#contents_00 > ul {
    width: 1225px;
    margin: 0 auto;
    height: 120px;

}

#contents_00 > ul > li {
    width: 230px;
    height: 120px;
    display: inline-block;
    padding-left: 160px;
    padding-top: 13px;
}

#contents_00 > ul > li:nth-child(1) {
    background: url(../images/con00_01.png)no-repeat 0 0;
    width: 250px;
}

#contents_00 > ul > li:nth-child(2) {
    background: url(../images/con00_02.png)no-repeat 10px 0;
    padding-left: 140px;
}

#contents_00 > ul > li:nth-child(3) {
    background: url(../images/con00_03.png)no-repeat 0 0;
    width: 260px;
    padding-left: 170px;
}

#contents_00 > ul > li:nth-child(3) p {
    letter-spacing: -1px;
}

#contents_00 > ul > li:nth-child(3) h4 {
    width: 140px;
}

#contents_00 > ul > li:nth-child(1) h4 {
    width: 80px;
}

#contents_00 h4 {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 15px;
    background: #313133;
    color: #ffffff;
    width: 95px;
    border-radius: 20px;
    padding-left: 12px;
}

#contents_00 span, .memberCountCon1, .memberCountCon2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 50px;
    margin-bottom: 10px;
    display: block;
    position: relative;
}



#contents_00 em {
    position: absolute;
    top:0;
    left:20px;
    letter-spacing: 0;
    font-size: 18px;
}


/*contents_01*/
#contents_01 {
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#contents_01 > h2 {
    line-height: 40px;
}

#contents_01 > h2 > span {
    color: #058ece;
    font-size: 35px;
    font-weight: 200;
}

#contents_01_con1 {
    float: left; 
      
}

#contents_01_video{
    border: 5px solid #eeeeee;
    width: 840px;
    height:545px;
    position: relative; 
    background-color: #eeeeee;
}

#contents_01_video .over_video{
    position: absolute;
    left: 0;
    bottom:0;
    background: #eeeeee url(../images/logo_small_img.png) no-repeat 10px 7px;

    width: 100%;
    height: 50px;    
    cursor: pointer;
}

#contents_01_video .over_video:hover p:first-child{
     color:#1f97eb;
}





#contents_01_video .over_video:hover img{
    display: none;
}


.over_video>p:first-child{
    width: 780px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    float: left;
    margin-right: 10px;   
    font-weight: 600;
}

.over_video>p:last-child{
    height: 50px;
    width: 30px;
    float: left;
    line-height: 68px;
    background: url(../images/arrow_03.png) no-repeat 0 10px;
    background-size: 30px 30px;
}



#contents_01_video video { 
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:545px;
    box-sizing: border-box;

}


#contents_01_con2 {
    width: 545px;
    float: right;
    }

#contents_01_con2 > div {
    width: 270px;
    height: 275px;
    float: left;
    border: 5px solid #eeeeee;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5;
}

#contents_01_con2 > div:hover{
    border-color: #058ece;     
 
}

#contents_01_con2 > div:hover h3{
    color:#0087cc;    

}

#contents_01_con2 > div:nth-of-type(1) {
    background: url(../images/con01_01.jpg) no-repeat 0 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

#contents_01_con2 > div:nth-of-type(2) {
    background: url(../images/con01_02.jpg) no-repeat 0 0;
    margin-bottom: 5px;

}

#contents_01_con2 > div:nth-of-type(3) {
    margin-right: 5px;
    clear: both;

    background: url(../images/con01_03.jpg) no-repeat 0 0;

}

#contents_01_con2 > div:nth-of-type(4) {}


#contents_01_con2 > div > em {
    display: block;
    background: #1f97eb;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 3px;

}



#contents_01_con2 > div > h3 {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    transition: all 0.5;
}

#contents_01_con2 > div p{
    margin-left: 20px;
    margin-right: 10px;
}






/*contents_02_top*/
#contents_02_top {
    background: #f3f3f3;
    width: 100%;
    height: 220px;
    
}

#contente2_1 {
    height: 220px;
    width: 1400px;
    margin: 0 auto;
    padding-top: 30px;
}


#contente2_1 > .title {
    float: left;    
    width: 650px;
    text-align: right;
}

.title > h2 {
    color: #313131;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.title > h2 > em {
    color: #0082ce;
    font-size: 40px;
    font-weight: 700;
}


#contente2_1 > .con {
    float: right;    
    width: 700px;
}

.no1 {
    font-size: 0;
}

.no2 {
    font-size: 0;
}

#list1,
#list2 {
    border: 3px solid #333333;
    width: 200px;
    height: 50px;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
    margin-top: 28px;
    margin-bottom: 3px;
    text-indent: 10px;
    border:2px solid #0082ce; 
    border-radius: 5px;
}


.result {
    clear: both;
    display: block;
    
   
}

.result li {
    width: 200px;
    height: 80px;
    text-align: center;
    float: left;
    font-size: 14px;
    margin-right: 8px;
}




/*contents_02_banner 배너 8개짜리*/

#contents_02 {
    background: #f3f3f3;
    width: 100%;
    height: 600px;
    padding-bottom: 150px;
}

#contents_02 > .contents {
    height: 600px;
    width: 1400px;
    margin: 0 auto;
}

.contents > div > div {
    height: 300px;
    line-height: 400px;
    text-align: center;
    box-sizing: border-box;
    line-height: 400px;
    display: block;
    padding-top: 80px;
}

.con3_top >div:nth-child(3){
    padding-top: 95px;
}

.con3_top > div,
.con3_bottom > div {
    float: left;
    width: 350px;
    height: 300px;

}


.b_e{width: 350px; height: 300px; position: relative;}
.b_e span{background-color: rgba(0,0,0,0.3); position: absolute; font-size: 0;}
.b_e span:nth-child(1){width: 0%; height: 3px; left: 0; top:0; transition: width 0.2s;}
.b_e span:nth-child(2){width: 3px; height: 0%; right: 0; top:0; transition: height 0.2s;}
.b_e span:nth-child(3){width: 0%; height: 3px; right: 0; bottom:0; transition: width 0.2s;}
.b_e span:nth-child(4){width: 3px; height: 0%; left: 0; bottom:0; transition: height 0.2s;}
.b_e:hover span:nth-child(1){width: 100%; }
.b_e:hover span:nth-child(2){height: 100%; }
.b_e:hover span:nth-child(3){width: 100%; }
.b_e:hover span:nth-child(4){height: 100%; }

.contents h3 {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
}

.con3_top > div:nth-child(1) {
    background: #0087cc;
}

.con3_top_img{ /*배너이미지*/
    position: relative;
}

con3_top_img img{
    padding: 50%;
    border-radius: 50%;
}


.con3_top_img>span{
    display: block;
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    padding: auto;
}

.con3_top_img>span a{
    width: 100%;
    height: 170px;    
    color: #fff;
    display: block;
    padding-top: 130px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

.con3_top > div:nth-child(2) {
    background: url(../images/con03_01.jpg) no-repeat;
    background-size: 100% 100%;
}



.con3_top > div:nth-child(3) {
    background: #313133;
}

.con3_top p, .con3_bottom p {
    color: #ffffff;
}

.con3_top > div:nth-child(4) {
    background: url(../images/con03_02.jpg) no-repeat;
    background-size: 100% 100%;
}


.con3_bottom > div:nth-child(1) {
    background: url(../images/con03_03.jpg) no-repeat;
    background-size: 100% 100%;
}

.con3_bottom > div:nth-child(2){
   background: #ffffff;
}

.con3_bottom > div:nth-child(2) p, .con3_bottom > div:nth-child(2) h3{
    color:#333333;
    
}

.con3_bottom > div:nth-child(3) {
    background: url(../images/con03_04.jpg) no-repeat;
    background-size: 100% 100%;
}

.con3_bottom > div:nth-child(4) {
    background: #005793;
}


/* 마우스오버시 */
/* .con3_top > div:nth-child(1):hover{
    cursor: pointer;
    background: url(../images/patten_w.png);
    background-color: #0087cc;    
}

.con3_top > div:nth-child(3):hover{
    cursor: pointer;
    background: url(../images/patten_w.png);
    background-color: #313133;    
}

.con3_bottom > div:nth-child(2):hover{
    cursor: pointer;
    background: url(../images/patten_b.png);
    background-color: #ffffff;
}
.con3_bottom > div:nth-child(4):hover{
    cursor: pointer;
    background: url(../images/patten_w.png);
    background-color: #005793;
} */












/*contents_03*/
#contents_03 {
    clear: both;
    width: 100%;
    height: 550px;
    margin-bottom: 300px;
    padding-top: 30px;
    position: relative;
    border: 1px solid #2284cf;
    background-color: #2284cf;
}

#contents_03 h2 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    margin-bottom: 40px;
}

#contents_03_review {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    text-align: center;
}

#contents_03_review em{
    font-size: 12px;
    margin-right: 10px;
    color:#8fcefe;
}

#contents_03_review_con {
    width: 1400px;
    margin: 0 auto;
}


#contents_03_review_con li{
    cursor: pointer;
}
#contents_03_review_con li:hover{
    opacity: 0.8;
}


#contents_03_review_con > div {
    width: 680px;
    height: 300px;
    text-align: left;
}

#contents_03_review_con > div > h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
}

#contents_03_review_con > div > h3::before {
    content: "";
    width: 25px;
    padding-left: 25px;
    background: url(../images/borad_icon_2.png) no-repeat;
}


#best_review {
    float: left;
}

#compliment_review {
    float: right;
}

#contents_03_review_con > div{

    width: 680px;
    height: 230px;
    float: left;
}


#contents_03_review_con ul {
    margin-top: 10px;

}

#contents_03_review_con ul li {
    color: #ffffff;
    height: 35px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
    line-height: 35px;
    margin: 0 40px;
}

#contents_03_review_con em+img {
    margin-right: 5px;
    vertical-align: -3px;
}

#contents_03_review_con ul li span {
    float: right;
    color: rgba(255, 255, 255, 0.5);
    line-height: 35px;
    font-size: 13px;
}




#contents_03_webtoon {
    position: absolute;
    left: 50%;
    bottom: -170px;
    transform: translate(-50%, 0);
    width: 1030px;
    text-align: center;
    margin: 0 auto;
}

#contents_03_webtoon > figure {
    width: 300px;
    height: 300px;
    float: left;
    background-color: #eeeeee;
    border-radius: 50px 50px 0 50px;
    padding: 15px
}

#contents_03_webtoon > figure:nth-child(2) {
    margin: 0 20px;
}

#contents_03_webtoon > figure h4 {
    display: block;
    background: black;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    width: 200px;
    margin: 0 auto;
    color: #ffffff;
    font-weight: 500;
    margin: 15px auto;
}

#contents_03_webtoon > figure > figcation {
    font-size: 22px;
    font-weight: 600;
}

#contents_03_webtoon > figure .con4_sum img {
    border-radius: 20px;
    box-sizing: border-box;
    width: 240px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
}

#contents_03_webtoon > figure p:last-child {
    font-size: 15px;
    text-align: right;
    margin-top: 8px;
    margin-right: 30px;
    height: 30px;
    line-height: 30px;
}







/*contents_05*/
#contents_05 {
    clear: both;
    width: 1200px;
    height: 770px;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 120px;

}

#contents_05 h2 {
    color: #333333;
}



#contents_05_1,#contents_05_2 {
    float: left;
    width: 1200px;
    border: 1px solid #666666;
    margin-bottom: 20px;
}


.contents_05_video1 {
    float: left;
    width: 600px;
    height: 340px;
}

.contents_05_video2 {
    float: right;
    width: 600px;
    height: 340px;
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
}

#contents_05_info1 {
    float: right;
    width: 600px;
}

#contents_05_info2 {
    float: left;
    width: 600px;
}
#contents_05_info1 h3{
    height: 40px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    color: #0087cc;
    float: left;
    box-shadow: 0 12px #ffd200;
}


#contents_05_info2 h3 {
    height: 73px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 700;
    color: #0087cc;
    float: left;
    box-shadow: 0 12px #ffd200;

}


#contents_05_info1 p:nth-of-type(1),#contents_05_info2 p:nth-of-type(1) {
    margin: 0 40px;
    margin-bottom: 20px;

}

#contents_05_info1 p > span, #contents_05_info2 p > span {
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
    
}

#contents_05_info1 p:nth-of-type(2),#contents_05_info2 p:nth-of-type(2) {
    font-size: 13px;
    margin-left: 40px;
    width: 130px;
    height: 25px;
    background: url(../images/more_bar.jpg) no-repeat -5px;
    cursor: pointer;

}

#contents_05_info1 p:nth-of-type(2) a, #contents_05_info2 p:nth-of-type(2) a {
    color: #333333;
}

#contents_05_info1 p:nth-of-type(2):hover a, #contents_05_info2 p:nth-of-type(2):hover a {
    color: #48b1ed
}

#contents_05_info1 p:nth-of-type(2):hover, #contents_05_info2 p:nth-of-type(2):hover {
    background: url(../images/more_bar_on.jpg) no-repeat -5px;
}


#contents_05_info1 > ul, #contents_05_info2 > ul {
    float: right;
    width: 200px;
    display: inline;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

#contents_05_info1 > ul > li,#contents_05_info2 > ul > li {
    float: right;
    margin-left: 10px;
}

#contents_05_info1 p,#contents_05_info2 p  {
    clear: both;
}





/*contents_06*/
#contents_06 {
    clear: both;
    height: 100px;
    width: 1400px;
    margin: 0 auto;
}

#contents_06 h3 {
    border-left: 5px solid #48b1ed;
    height: 16px;
    line-height: 16px;
    padding-left: 8px;
}

#contents_06 h3 + p {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
}


#food_all{width: 100%; height: 245px; margin: auto; overflow: hidden; margin-bottom: 100px;}
.food{width: 100%; height: 240px;}
.food li{float: left; width: 240px; height: 240px; text-align: center; margin-left: 10px; border: 1px solid #ccc; }
.food li a{font-size: 0;}


