@charset "utf-8";


#con_summary {
    margin: 0 auto;
    width: 1300px;
}

#con_summary > h2 {
    margin-top: 100px;
    font-size: 28px;
    font-weight: 700;

}

.boxing {
    width: 1260px;
    height: 80px;
    margin: 0 auto;
    background: url(../images/summary_tit1.jpg) no-repeat 800px -30px;
    background-color: #f7f7f7;
    font-size: 22px;
    border-radius: 20px;
    line-height: 20px;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.boxing+p{margin-bottom: 30px;}
.boxing+p span{/*color:#2bc1ff;*/ background: linear-gradient(to top, #ffe400 40%, transparent 40%)}

.boxing > span {
    font-weight: 800;
    color: black;
    font-size: 22px;
    line-height: 40px;
}



#pest_list {
    margin: 0 auto;
    width: 1300px;
}

#pest_list > ul {
    margin: 0 auto;
    width: 1300px;
    float: left;

}

#pest_list > ul > li {
    display: block;
    width: 493px;
    height: 150px;
    float: left;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 20px 20px 20px 20px;
    padding-left: 130px;
}

#pest_list > ul > li:nth-child(even) {
    margin-left: 10px;
}


#pest_list > ul > li:nth-child(1){
    background: url(../images/pest_list01.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(2){
    background: url(../images/pest_list02.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(3){
    background: url(../images/pest_list01.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(4){
    background: url(../images/pest_list04.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(5){
    background: url(../images/pest_list05.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(6){
    background: url(../images/pest_list06.jpg) no-repeat 30px;
}
#pest_list > ul > li:nth-child(7){
    background: url(../images/pest_list07.jpg) no-repeat 30px;
}

#pest_list > ul > li:nth-child(8){
    background: url(../images/pest_list08.jpg) no-repeat 30px;
}




#pest_list > ul > li > h4 {
    color: #3ba4d9;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;

}

#pest_list > ul > li >p{
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: -0.5px;
    line-height: 27px;
}

#pest_list > ul > li >p::before{
    content: "· ";
}

#pest_list > ul > li >p>span {
    display: inline-block;
    width: 60px;
    height: 20px;
    color:#ffffff;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    background-color: #50585d;
    margin-right: 10px;
    margin-top: 10px;
}




#service {
    clear: both;
    margin: 0 auto;
    width: 1300px;
    border: 1px solid red;
    height: 500px;
}

#service> div{
    text-align: center;
    width: 220px;
    border: 1px solid aqua;
    float: left;

}

#service>h3{
    font-weight: 600;
    font-size: 25px;
}

.step_tit{font-size: 20px; color: red; 
width: 250px; height: 110px; }

#service div:not(div:last-child) {margin-right: 15px;}

#service>div:nth-child(1) p:nth-child(1){
     background: url(../images/service_01.jpg) no-repeat;
}

#service>div:nth-child(2) p:nth-child(1){
     background: url(../images/service_02.jpg) no-repeat;
}

#service>div:nth-child(3) p:nth-child(1){
     background: url(../images/service_03.jpg) no-repeat;
}

#service>div:nth-child(4) p:nth-child(1){
     background: url(../images/service_04.jpg) no-repeat;
}




#service> div h5{
    color:fuchsia;
    font-weight: 500;
    height: 60px;
}






/*login 로그인*/
#login {width: 1300px; margin: 120px auto;}

#login_box {border: 1px solid #dddddd; width: 900px; height: 420px; margin: 0 auto;}

.login_box_left h4+p{width: 335px;  height: 30px; margin-bottom: 20px;}

#login_box h3{font-size: 25px; font-weight: 700;}
#login_box h4{font-size: 18px; font-weight: 700;}

.login_box_left{float: left;  width: 380px; margin-left: 90px; margin-top: 70px;}

.login_box_right{float: right; width: 350px; margin-right: 20px; margin-top: 70px; }




.u_id input,
.u_pwd input {
    border: 1px solid rgba(153, 153, 153, 0.5);
    width: 330px;
    height: 40px;
    border-radius: 2px;
    text-indent: 1em;
    outline: none;
    margin-bottom: 3px;
}

.login {
    height: 45px;
    margin-bottom: 10px;
}



.login input {
    width: 335px;
    height: 45px;
    border: none;
    background-color: #2bc1ff;
    color: white;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.login input:hover {
    background-color: #50ccff;
}


/**/

.bth_link {
    height: 70px;
    margin-bottom: 10px;
    
    
}

.login_box_right h4+p{margin-bottom: 10px;}

.bth_line{
    border-bottom: 1px dotted #dddddd;
    margin-bottom: 30px;
    width: 300px;
}





.bth_link input {
    width: 100px;
    height: 33px;
    border: none;
    background-color: #2bc1ff;
    color: white;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.bth_link input:hover {
    background-color: #50ccff;
}





.login_chk {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 10px;
}

.login_chk input {
    vertical-align: -1.7px;
    margin-right: 5px;
}

.login_chk label{font-size: 13px;}

.login_chk +p{color:red;}







/*회원가입 sign_up*/

#sign_up{width: 100%; margin-top: 80px;}

#sign_up_box{ width: 1000px;  height: 500px; margin: 0 auto; border: 1px solid #cccccc; box-sizing: border-box;}

#sign_up_box>div>h4{font-size: 25px; font-weight: 700;}
.sign_info{border-collapse: collapse;}
.sign_info caption{text-align: left;}
.sign_info td, .sign_info th{border: 1px solid #dddddd; font-size: 13px;}
.sign_info th{background-color: #dddddd; width: 220px;}













