@charset "utf-8";


#con_summary {margin: 0 auto; width: 1300px; margin-bottom: 50px;}

.sub_title_top {margin-top: 50px; font-size: 28px; font-weight: 700;}
.sub_title{
    display: block;
    width: 1300px;
    height: 35px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;}

.boxing {
    width: 1260px;
    height: 80px;
    margin: 0 auto;
    background: url(../images/summary_tit1.jpg) no-repeat 800px -30px;
    background-color: #f7f7f7;
    font-size: 22px;
    border-radius: 20px;
    line-height: 20px;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: 15px;}

.boxing_2 {
    width: 1260px;
    height: 90px;
    margin: 0 auto;
    background: url(../images/competitive01_tit1.PNG) no-repeat 800px 0;
    background-color: #f7f7f7;
    font-size: 22px;
    border-radius: 20px;
    line-height: 20px;
    padding-top: 30px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: 15px;}

.boxing+p {margin-bottom: 30px; margin-left: 30px;}
.boxing_2+p {margin-bottom: 30px; margin-left: 30px;}

.boxing+p span {
    /*color:#2bc1ff;*/
    background: linear-gradient(to top, #ffe400 40%, transparent 40%)}

.boxing_2+p span {
    /*color:#2bc1ff;*/
    background: linear-gradient(to top, #ffe400 40%, transparent 40%)}

.boxing>span {
    font-weight: 800;
    color: black;
    font-size: 22px;
    line-height: 40px;
}

.boxing_2>span {
    font-weight: 800;
    color: black;
    font-size: 22px;
    line-height: 40px;
}


/* 01. 벌레종류 */
#pest_list {margin: 0 auto; width: 1300px; height: 863px; clear: both; margin-bottom: 60px;}
#pest_list>ul {width: 1300px;}
#pest_list>ul>li {width: 493px; float: left; height: 150px;
    display: block;     
    border-radius: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 20px 20px 20px 20px;
    padding-left: 130px;}
#pest_list>ul>li:nth-child(even) {margin-left: 10px;}

/* 해충 별 배경이미지 삽입 */
#pest_list>ul>li:nth-child(1) {background: url(../images/pest_list01.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(2) {background: url(../images/pest_list02.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(3) {background: url(../images/pest_list03.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(4) {background: url(../images/pest_list04.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(5) {background: url(../images/pest_list05.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(6) {background: url(../images/pest_list06.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(7) {background: url(../images/pest_list07.jpg) no-repeat 30px;}
#pest_list>ul>li:nth-child(8) {background: url(../images/pest_list08.jpg) no-repeat 30px;}

#pest_list>ul>li>h4 { /*해충 타이틀*/
    color: #3ba4d9;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
#pest_list>ul>li>p { /*해충 설명*/
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: -0.5px;
    line-height: 27px;
}
#pest_list>ul>li>p::before {content: "· ";} /*해충 설명 앞 점*/
#pest_list>ul>li>p>span {
    display: inline-block;
    width: 60px;
    height: 20px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
    background-color: #50585d;
    margin-right: 10px;
    margin-top: 10px;}






/* 서비스 진행 */
#service_step {
    clear: both;
    margin: 0 auto;
    width: 1300px;  
    height: 600px;
    margin-bottom: 60px;;
}

#service_line>ul{
    margin: 0 auto;
    width: 1000px;    
}

#service_line>ul>li {
    width: 1000px;
    height: 120px;
    border-radius: 40px;
    background: #f7f7f7;
    display: block;
    margin-bottom: 5px;
    float: left;
}

#service_line>ul>li>p {float: left;}

#service_line>ul>li>p:nth-child(1) {
    text-align: right;
    width: 150px;
    padding-right: 110px;
    padding-top: 28px;
    color: #0495e0;
    font-weight: 600;
    font-size: 20px;    
}

#service_line>ul>li>h4{font-weight: 600; margin-top: 23px; margin-bottom: 8px;}
#service_line>ul>li>p:last-child {color: #aaaaaa; font-size: 15px;}
#service_line>ul>li>p:nth-of-type(2){margin-right: 30px;}
#service_line>ul>li>p:nth-of-type(3){margin-left: 10px;}

.step1>p:nth-of-type(1){background: url(../images/baseline_quiz_white_24dp.png) no-repeat 170px 35px;}
.step2>p:nth-of-type(1){background: url(../images/baseline_assignment_turned_in_white_24dp.png) no-repeat 170px 35px;}
.step3>p:nth-of-type(1){background: url(../images/baseline_healing_white_24dp.png) no-repeat 170px 35px;}
.step4>p:nth-of-type(1){background: url(../images/baseline_support_agent_white_24dp.png) no-repeat 170px 35px;}








/*해충방제 서비스 비교*/
#solution {
    clear: both;
    width: 1300px;
    height: 1000px;
    margin: 80px auto;
}

#solution_group{width: 1050px; height: 900px; margin: 0 auto;}
#solution_group>div{text-align: center;}
#solution_group>div>h3 {margin-top: 30px;}
#solution>.solution_right>h3:nth-child(1) {color: #2bc1ff;}

.solution_left {
    width: 490px;
    float: left;
    border: 10px solid #cccccc;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    
}

.solution_right {
    width: 490px;
    float: right;
    border: 10px solid #2bc1ff;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
}

#solution h3 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
}




















/*login 로그인*/
#login {
    width: 1300px;
    margin: 120px auto;
}

#login_box {
    border: 1px solid #dddddd;
    width: 900px;
    height: 420px;
    margin: 0 auto;
}

.login_box_left h4+p {
    width: 335px;
    height: 30px;
    margin-bottom: 20px;
}

#login_box h3 {
    font-size: 25px;
    font-weight: 700;
}

#login_box h4 {
    font-size: 18px;
    font-weight: 700;
}

.login_box_left {
    float: left;
    width: 380px;
    margin-top: 70px;
    margin-left: 90px;

}

.login_box_right {
    float: right;
    width: 350px;
    margin-right: 20px;
    margin-top: 70px;
}




.u_id input,
.u_pwd input {
    border: 1px solid rgba(153, 153, 153, 0.5);
    width: 330px;
    height: 40px;
    border-radius: 2px;
    text-indent: 1em;
    outline: none;
    margin-bottom: 3px;
}

.login {
    height: 45px;
    margin-bottom: 10px;
}



.login input {
    width: 335px;
    height: 45px;
    border: none;
    background-color: #2bc1ff;
    color: white;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.login input:hover {
    background-color: #50ccff;
}


/**/

.bth_link {
    height: 70px;
    margin-bottom: 10px;
}

.login_box_right h4+p {
    margin-bottom: 10px;
}

.bth_line {
    border-bottom: 1px dotted #dddddd;
    margin-bottom: 30px;
    width: 300px;
}


.bth_link input {
    width: 100px;
    height: 33px;
    border: none;
    background-color: #2bc1ff;
    color: white;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.bth_link input:hover {
    background-color: #50ccff;
}


.login_chk {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 10px;
}

.login_chk input {
    vertical-align: -1.7px;
    margin-right: 5px;
}

.login_chk label {
    font-size: 13px;
}

.login_chk+p {
    color: red;
}





/*회원가입 sign_up*/

#sign_up {
    width: 100%;
    margin-top: 80px;
}

#sign_up_box {
    width: 900px;
    margin: 120px auto;
    border: 1px solid #dddddd;
    box-sizing: border-box;
}


#sign_up_box h4 {
    font-weight: 700;
    font-size: 25px;
}

#sign_up_box h5 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#sign_up_box>h4:first-child {
    margin-top: 80px;
}

#sign_up_box input {
    border: 1px solid rgba(153, 153, 153, 0.5);
    width: 300px;
    height: 30px;
    border-radius: 2px;
    outline: none;
    margin-bottom: 3px;
    text-indent: 5px;
}

#sign_up_box #input_text {
    width: 195px;

}

.u_sign {
    width: 500px;
    margin-top: 50px;
    margin: 70px auto 70px auto;

}

.u_sign>p:nth-of-type(1) {
    width: 310px;
}



.u_sign>p:nth-child(3) {
    clear: both;
}


#sign_up .sign_bth {
    margin-left: 5px;
    width: 150px;
    height: 34px;

}

#sign_up .sign_bth_Confirm {
    margin-left: 5px;
    width: 150px;
    height: 34px;
    background-color: #2bc1ff;
    color: #ffffff;
}

#sign_up .sign_bth_ok {
    margin-left: 5px;
    width: 100px;
    height: 34px;
}



#sign_up_box p {
    font-size: 14px;
}


.sign_info {
    border-collapse: collapse;
    width: 500px;

}

.sign_info caption {
    text-align: left;
}

.sign_info td,
.sign_info th {
    border: 1px solid #cccccc;
    font-size: 12px;
}

.sign_info th {
    background-color: #dddddd;
    width: 350px;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
}

.sign_info td {
    vertical-align: middle;
    padding: 15px;
}


.u_sign_info div>p:nth-last-child(2) {
    float: left;
}