@charset "urf-8";

body,
html {
    height: 100%;
}


/*top_wrap*/
#top_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1800px;
    min-height: 900px;
   }


#v_con {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 1920px;
    min-height: 900px;
    overflow: hidden;    
}


#v_con video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}


.patten {
    width: 100%;
    height: 100%;
    background: url(../images/patten.png);
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
}

.over {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}



/**/

#top {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.quick_wrap1 {
    position: absolute;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #515151;
    
     
}

.quick_wrap2 {
    width: 1400px;
    height: 70px;
    margin: 0 auto;
}

.logo {
    width: 146px;
    line-height: 200px;
    float: left;
    text-align: center;
}



.quick {
    float: right;
    width: 120px;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    text-align: center;
    display: inline;
    text-align: center;
}

.quick li {
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    box-sizing: border-box;
    width: 50px;
    background: url(../images/bar1.jpg) no-repeat 0 4px;

}

.quick li:nth-child(1) {
    margin-left: 7px;
}



.quick li a {
    color: #ffffff;
}


#main_navi {
    line-height: 100px;
    text-align: center;
    margin: 10px auto;
    width: 800px;
    height: 50px;
    transition: all 0.5s;
}

#main_navi:hover{
    background: rgba(0, 0, 0, 0.5);
    height: 100px;

}


#main_navi ul {
     margin: 0 auto;
    line-height: 50px;
}

#main_navi ul li {
    text-align: center;
    padding: 0 30px;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
}

#main_navi ul li a:hover{
    color:#48b1ed;
}


#main_navi ul li:first-child {
    margin-left: 0;
}

#main_navi ul li a {
    color: #ffffff;
    font-size: 19px;
    font-weight: 600;
}

#main_navi ul li a:hover {
    background: url(../images/point_1d.png) no-repeat center bottom;
}



#main_top_1 {
    position: absolute;
    left: 450px;
    top: 290px;
    z-index: 10;
}

#main_top_1 > h1 {
    font-size: 23px;
    line-height: 20px;
    color: #ffffff;
    border-bottom: 2px solid;
    width: 385px;
    height: 22px;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}

#main_top_1 > p:nth-of-type(1) {
    color: #0087cc;
    font-size: 90px;
    font-weight: 900;
    display: block;
    height: 70px;
    line-height: 60px;
}

#main_top_1 > p:nth-of-type(2) {
    color: #ffffff;
    font-size: 90px;
    font-weight: 900;
    display: block;
    height: 70px;
    line-height: 80px;
    margin-bottom: 30px;

}

#main_top_1 > p:nth-of-type(3) {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}


#main_top_2 {
    clear: both;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100px;
    background: rgba(0, 135, 204, 0.9);
    text-align: center;
}

#main_top_2 > div {
    margin: 0 auto;
    line-height: 100px;
    width: 1180px;

}


#main_top_2 > div > ul > li {
    cursor: pointer;
    float: left;
    color: #ffffff;
    height: 100px;
    width: 130px;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    border: none;
}

#main_top_2 > div > ul > li a {
    color: #ffffff;
    display: block;
    height: 100px;
    width: 130px;
    margin-top: 30px;
    font-weight: 500;
    
}




/*하단 메뉴*/

#main_top_2 > div > ul > li:nth-child(1) {
    background-color: #48b1ed;
}

#main_top_2 > div > ul > li:nth-child(2) {
    background-color: #48b1ed;
}

#main_top_2 > div > ul > li:nth-child(3) {
    background-color: #48b1ed;
}

#main_top_2 > div > ul > li:nth-child(4) {
    line-height: 40px;
}

#main_top_2 > div > ul > li:nth-child(5) {
    line-height: 40px;
}

#main_top_2 > div > ul > li:nth-child(6) {
    line-height: 40px;
}

#main_top_2 > div > ul > li:nth-child(7) {
    background-color:  #313133;
}

#main_top_2 > div > ul > li:nth-child(7) a{

}

#main_top_2 > div > ul > li:nth-child(8) {
     background-color:  #313133;
}

#main_top_2 > div > ul > li:nth-child(9) {
     background-color:  #313133;
    border-right: none;
}



/* 사이드 스크롤 퀵메뉴 */
.scroll_quickmenu {
    z-index: 20;
    position: absolute;
    width: 100px;
    top: 100%;
    margin-top:-20%;
    right: 5%;
    background: #333;
}

.scroll_quickmenu ul {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
    display: inline;
    
}

.scroll_quickmenu ul li {
    float: left;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #666;
    text-align: center;
    display: inline-block;
    display: inline;
    
}

.scroll_quickmenu ul li:nth-child(3)
{color:#fff; line-height: 120px;
    background: url(../images/sub_menu_icon2.png) no-repeat center 30px;
}

.scroll_quickmenu ul li a {
    position: relative;
    float: left;
    width: 100%;
    height: 70px;    
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    padding-top: 30px;

}

.test{
    background: #515151;
}


.scroll_quickmenu ul li a:hover {
    background: blue;
}

.scroll_quickmenu ul li:last-child {
    border-bottom: 0;
}

.scroll_quickmenu .test{
    display: none;
    
}