@charset "urf-8";

body,
html {
    height: 100%;
}


/*top_wrap*/
#top_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1800px;
    min-height: 900px;
    -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;

   }



#v_con {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    min-width: 1800px;
    min-height: 900px;
    overflow: hidden;    
    
}


#v_con video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}


.patten {
    width: 100%;
    height: 100%;
    background: url(../images/patten.png);
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
}

.over {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}



/*메인메뉴들*/

#top{width: 100%; height: 80px; margin: 0 auto; position: relative;}
#main_navi{width: 1200px; height: 80px; margin: 0 auto; position: relative;}
#main_navi h1{width: 122px; height: 42px; float: left; position: absolute; left:0; top:20px; z-index: 300;}
#menu{width: 996px; margin: 0 auto; height: 80px;}
#menu > li{float: left; width: 150px; height: 80px; text-align: center; position: relative; z-index: 20;}
#menu > li > a{z-index: 20; color:#fff; font-size: 21px; font-weight: bold; width: 150px; height: 80px; display: block; line-height: 80px; z-index: 20;} 

#menu > li:first-child{margin-left: 50px;}

.bg{position: absolute; left:0; top:0px; width: 100%; height: 245px; background-color:rgba(255,255,255,0.9); z-index: 18;} /*js*/



#menu > li>.sub{position: absolute; left:0; top:55px; z-index: 20; padding-top: 20px; width: 150px; height: 170px; z-index: 21;} /*하위 ul*/
#menu > li >.sub>li{width: 140px; height: 35px; line-height: 35px;}
#menu > li > .sub > li > a{width: 150px; height: 35px; display: block; color:#333}
#menu > li > .sub > li > a:hover{color: #00b4ff; font-weight: bold;}


.quick{float: left; position: absolute; top:27px; right:0; z-index: 30; background:rgba(0,0,0,0.5); border-radius: 5px;} /*로그인,회원가입...*/
.quick>li{float: left;} 
.quick>li>a{color:#ccc; font-size: 15px;}
.quick>li{padding: 0 10px;}
.quick>li:first-child{background: url(../images/bar3.png) no-repeat right center;}
.quick>li:hover a{color:#00b4ff;}






/* 여긴 메인타이틀 */
#main_top_1 {
    position: absolute;
    left: 450px;
    top: 290px;
    z-index: 10;
}

#main_top_1 > h1 {
    font-size: 23px;
    line-height: 20px;
    color: #ffffff;
    border-bottom: 2px solid;
    width: 385px;
    height: 22px;
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
}

#main_top_1 > p:nth-of-type(1) {
    color: #0087cc;
    font-size: 90px;
    font-weight: 900;
    display: block;
    height: 70px;
    line-height: 60px;
}

#main_top_1 > p:nth-of-type(2) {
    color: #ffffff;
    font-size: 90px;
    font-weight: 900;
    display: block;
    height: 70px;
    line-height: 80px;
    margin-bottom: 30px;

}

#main_top_1 > p:nth-of-type(3) {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}


/* 이미지 아래 메뉴들 */
#main_top_2 {
    clear: both;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);
    width: 100%;
    height: 100px;
    background: rgba(0, 135, 204, 0.9);
}

.container {
    margin: 0 auto;
    line-height: 100px;
    width: 1180px;
}

.container > ul > li {
    float: left;
    height: 100px;
    width: 130px;
}

.container > ul > li a {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    display: block;
    height: 100px;
    width: 130px;
    padding-top: 23px;
    font-weight: 500;  
    border: 3px solid transparent;  
    box-sizing: border-box;
}


.container > ul > li a:hover{
    border-color: #fff;
}


.container > ul > li:nth-child(4) a,
.container > ul > li:nth-child(5) a,
.container > ul > li:nth-child(6) a{
    padding-top: 28px;
}





.container > ul > li:nth-child(1) {
    background-color: #48b1ed;
    border-right: 1px solid #48b1ed;
}

.container > ul > li:nth-child(2) {
    background-color: #48b1ed;
    border-left: 1px solid #48b1ed;
     border-right: 1px solid #48b1ed;
}

.container > ul > li:nth-child(3) {
    background-color: #48b1ed;
    border-left: 1px solid #48b1ed;
}

.container > ul > li:nth-child(4) {
    line-height: 40px;
}

.container > ul > li:nth-child(5) {
    line-height: 40px;
}

.container > ul > li:nth-child(6) {
    line-height: 40px;
}

.container > ul > li:nth-child(7) {
    background-color:  #313133;
    border-right: 1px solid #313133;
}



.container > ul > li:nth-child(8) {
     background-color:  #313133;
     border-left: 1px solid #313133;
     border-right: 1px solid #313133;
}

.container > ul > li:nth-child(9) {
     background-color:  #313133;
    border-right: none;
    border-left: 1px solid #313133;
} 



/* 사이드 스크롤 퀵메뉴 */
#bottom5 {
    height: 300px;
    position : fixed;
    right: 5%;
    z-index: 100;

}

#family_site5 {
    width: 100px;
    height: 400px;
    position: relative;
    right: 0;
    top: 200px;
    overflow: hidden; 

}

#family_site5>button {
    width: 100px;
    height: 100px;
    background: #333;
    border: 1px solid #666;
    color: #fff;
    text-align: left;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 52;
    line-height: 100px;   
    text-align: center;
}

.icon5 {
    border-left: 1px solid #666;
    width: 30px;
    height: 29px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    line-height: 100px;
}

#family_site5 ul {
    background-color: #333;
    width: 100px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 1px;
    z-index: 51;
    border: 1px solid #666;
    box-sizing: border-box;
}

#family_site5 ul li {
    background-color: #333;
    width: 100px;
    height: 100px;
    text-align: center;
    border-top: 1px solid #666;
    box-sizing: border-box;
    
}
#family_site5 .on{
    border-top:none;
}

#family_site5 ul li a {
    width: 100px;
    height: 100px;
    font-size: 12px;
    color: #fff;
    font-size: 17px;
    width: 100px;
    height: 100px;    
    line-height: 100px;   
    display: block; 
}
#family_site5 ul li a:hover{
    background-color: #0087cc;
}