@charset "urf-8";

body,
html {
    height: 100%;
}


/*top_wrap*/
#top_wrap {
    width: 100%;
    height: 250px;
    position: relative;
}


#sub2 {
    background: url(../images/sub_menu1.jpg);
    bottom: 0;
    width: 100%;
    min-width: 1920px;
    height: 250px;
}

#v_con video {
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}


.patten {
    width: 100%;
    height: 250px;
    background: url(../images/patten.png);
    opacity: 0.7;
    position: absolute;
    left: 0;
    top: 0;
}

.over {
    width: 100%;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}


/*메인메뉴들*/

#top{background-color: #fff; position: absolute; top:-250px; width: 100%; height: 80px; margin: 0 auto; position: relative; z-index: 30; border-bottom: 2px solid #3ba4d9;}
#main_navi{width: 1200px; height: 80px; margin: 0 auto; position: relative;}
#main_navi h1{width: 122px; height: 42px; float: left; position: absolute; left:0; top:20px; z-index: 300;}
#menu{width: 996px; margin: 0 auto; height: 80px;}
#menu > li{float: left; width: 150px; height: 80px; text-align: center; position: relative; z-index: 20;}
#menu > li > a{z-index: 20; color:#333; font-size: 21px; font-weight: bold; width: 150px; height: 80px; display: block; line-height: 80px; z-index: 20;} 

#menu > li:first-child{margin-left: 50px;}

.bg{position: absolute; left:0; top:0px; width: 100%; height: 280px; background-color:rgba(255,255,255,0.9); z-index: 18;} /*js*/



#menu > li>.sub{position: absolute; left:0; top:80px; z-index: 20; padding-top: 20px; width: 150px; height: 170px; z-index: 21;} /*하위 ul*/
#menu > li >.sub>li{width: 140px; height: 35px; line-height: 35px;}
#menu > li > .sub > li > a{width: 150px; height: 35px; display: block; color:#333}
#menu > li > .sub > li > a:hover{color: #00b4ff; font-weight: bold;}


.quick{float: left; position: absolute; top:27px; right:0; z-index: 30; background:rgba(0,0,0,0.9); border-radius: 5px;} /*로그인,회원가입...*/
.quick>li{float: left;} 
.quick>li>a{color:#ccc; font-size: 15px;}
.quick>li{padding: 0 10px;}
.quick>li:first-child{background: url(../images/bar3.png) no-repeat right center;}
.quick>li:hover a{color:#00b4ff;}








/*sub*/
#sub_menu {
    z-index: 20;
    width: 1300px;
    height: 50px;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 225px;
    transform: translate(-50%, 0);
}



#sub_navi ul {
    margin: 0 auto;
    line-height: 50px;

}

#sub_navi ul li {
    text-align: left;
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
    float: left;
    padding: 0 100px 0 20px;
    position: relative;
    border-right: 1px solid #dddddd;


}

#sub_navi ul li:nth-child(1) {
    margin-left: 0;
    padding: 0;
    text-align: center;
    width: 50px;
    width: 50px;
    height: 50px;
    background: url(../images/sub_menu_icon2.jpg) no-repeat 50% 50%;
    background-color: #333333;
    border-right: none;
    

}

#sub_navi ul li:nth-child(5) {
    float: right;
    width: 50px;
    padding: 0;
    text-align: center;
    

}

#sub_navi ul li:nth-child(6)  {
    float: right;
    width: 50px;
    padding: 0;
    text-align: center; 
    border-left: 1px solid #cccccc;
}


#sub_navi span {
    position: relative;
    right: -80px;
}

#sub_navi ul li a {
    color: #333333;
    font-size: 15px;
    font-weight: 400;
    text-align: left;

}

#sub_navi ul li:nth-child(1) a {
    font-size: 0;
}
